/* ==UserStyle==
@name         GitLab Dark and Flat
@namespace    https://ninetailed.ninja/
@homepageURL  https://gitlab.com/ntninja/gitlab-dark/
@version      1.0.1
@license      MPL-2.0
@description  A darker theme for many GitLabs.
@author       ntninja & Jake Fecher
==/UserStyle== */


@-moz-document
    /* Please add other domain names to this list! */
    domain("gitlab.com"),
    domain("gitlab.freedesktop.org"),
    domain("gitlab.tugraz.at"),
    domain("gitlab.gnome.org"),
    domain("salsa.debian.org"),
    domain("invent.kde.org"),
    domain("student.cgv.tugraz.at"),
    domain("foss.heptapod.net"),
    domain("gitlab.redox-os.org")
{
    .content-wrapper,
    .projects-dropdown-container,
    html,
    body {
        background-color: #0f0f0f;
        border: none;
    }
    
    .project-dropdown-sidebar,
    .projects-dropdown-container .project-dropdown-sidebar,
    .issue-box {
        background-color: #181818 !important;
        border: none;
        padding: 2rem;
    }
    
    .page-content-header .commit-committer-link, .page-content-header .commit-author-link {
        color: inherit;
    }
    
    .form-control:focus,
    .common-note-form .md-area.is-focused,
    .search form:focus,
    .search.search-active form,
    .file-row.is-active,
    .multi-file-commit-list-path.is-active{
        background-color: #2d2d2d !important;
    }
    
    .file-row:hover, .file-row:focus, .multi-file-commit-list-path:hover, .multi-file-commit-list-path:focus {
        background-color: #434343;
    }
    
    .ide-commit-editor-header {
        box-shadow: none;
    }
    
    body.ui-indigo .navbar-gitlab .navbar-sub-nav > li.active > a,
    body.ui-indigo .navbar-gitlab .navbar-sub-nav > li.dropdown.show > a,
    body.ui-indigo .navbar-gitlab .navbar-nav > li.active > a,
    body.ui-indigo .navbar-gitlab .navbar-nav > li.dropdown.show > a {
        background-color: inherit;
    }
    
    .nav-links li.active a,
    .nav-links li a.active {
        color: #eee;
    }
    
    .card-header,
    code.key-fingerprint,
    .billing-plans .card .card-body .feature-list li,
    .billing-plans .card-slim .card-body .feature-list li,
    .list-group-item {
        background-color: #181818;
        border-color: #555;
        color: #eee;
    }
    
    .col-md-4 .card {
        margin-top: 20px;
    }
    
    .settings,
    .main .edit-on,
    .comments {
        border-color: #555 !important;
    }
    
    .documentation img:not(.emoji) {
        border: none;
    }
    
    button.project-feature-toggle.is-checked {
        background-color: #4a8bee !important;
    }
    
    button.project-feature-toggle {
        background-color: #ccc !important;
    }
    
    .bg-light {
        background-color: #333 !important;
    }
    
    .protected-branches-list .table-bordered,
    .protected-branches-list .wiki table,
    .wiki .protected-branches-list table,
    .protected-branches-list .md table,
    .md .protected-branches-list table,
    .protected-branches-list ul.notes > li .note-body .note-text table,
    ul.notes > li .note-body .note-text .protected-branches-list table,
    .protected-tags-list .table-bordered,
    .protected-tags-list .wiki table,
    .wiki .protected-tags-list table,
    .protected-tags-list .md table,
    .md .protected-tags-list table,
    .protected-tags-list ul.notes > li .note-body .note-text table,
    ul.notes > li .note-body .note-text .protected-tags-list table {
        border: none;
    }
    
    .bs-callout .btn {
        background-color: #333 !important;
    }
    
    .bs-callout.bs-callout-warning {
        background-color: #6D3333 !important;
        color: #FFBC75 !important;
    }
    
    .promotion-backdrop {
        background-color: #242424;
        padding: 20px;
    }
    
    .bs-callout .btn:hover {
        background-color: #404040 !important;
    }
    
    hr {
        color: #555;
        border-color: #555;
    }
    
    .project-visibility-setting,
    .project-feature-settings,
    .user-callout.promotion-callout .bordered-box,
    .bs-callout-info,
    .settings-content .sub-section,
    .card-body,
    .account-well,
    .bs-callout,
    .file-title-flex-parent,
    .file-holder .file-title-flex-parent,
    .file-holder .file-content,
    .flash-container .flash-notice,
    .code.white .line-numbers,
    .code.white .diff-line-num,
    .right-sidebar.build-sidebar .builds-container {
        background-color: #181818;
        border: none;
        color: #eee;
    }
    
    
    
    
    
    
    
    /* login page */
    body.navless,
    .labels-container {
        background-color: #181818 !important;
    }
    
    .board-card {
        background-color: rgba(0, 0, 0, 0.2);
        color: #eee;
        border: none;
        box-shadow: none;
    }
    
    .label-badge-gray {
        background-color: #ccc;
    }
    
    .devise-layout-html body .footer-container,
    .devise-layout-html body hr.footer-fixed {
        background: inherit;
        border: none;
    }
    
    .login-page .login-box,
    .login-page .omniauth-container {
        box-shadow: none;
        background-color: #2d2d2d;
    }
    
    .nav-tabs .nav-item .nav-link.active {
        background-color: #2d2d2d !important;
        color: #ccc;
    }
    
    .login-page .new-session-tabs {
        box-shadow: none;
    }
    
    .login-page .new-session-tabs li:not(.active) {
        background-color: #181818 !important;
    }
    
    
    
    
    
    
    /* end of login page */
    .note.target {
        background-color: #2d2d2d !important;
    }
    
    .timeline-entry,
    .mr-source-target,
    .diff-files-changed,
    .diff-files-changed .commit-stat-summary,
    .multi-file-commit-panel {
        background-color: inherit;
        border: none;
    }
    
    
    
    
    
    
    
    /* thank you to Ashley Dumaine for the following: */
    .diff-file .notes_holder td.notes_line {
        background: #2e2e2e;
    }
    .diff-file .notes_holder td.notes_content .notes {
        background-color: #2e2e2e;
    }
    .discussion-body .discussion-reply-holder,
    .diff-file .discussion-reply-holder {
        background-color: #2e2e2e;
    }
    
    .pipeline-graph .build .build-content {
        border: 1px solid #2e2e2e;
        background-color: #212121;
    }
    .pipeline-tab-content {
        background-color: #0f0f0f;
    }
    
    
    
    
    
    
    /* </thank> */
    .landing {
        background-color: #181818 !important;
        color: #ddd !important;
    }
    
    .input,
    .search-input-container .hidden-xs {
        background-color: rgb(46, 46, 46) !important;
    }
    
    .dropdown-menu li a:not(.disable-hover):hover,
    body.ui_dark .navbar-gitlab .navbar-sub-nav > li.dropdown.open > a,
    .dropdown-menu li a:not(.disable-hover):hover,
    .dropdown-menu li .participants-more .btn-link:not(.disable-hover):hover,
    .participants-more .dropdown-menu li .btn-link:not(.disable-hover):hover,
    .dropdown-menu li .user-list-more .btn-link:not(.disable-hover):hover,
    .user-list-more .dropdown-menu li .btn-link:not(.disable-hover):hover,
    .dropdown-menu li a:active,
    .dropdown-menu li a:focus,
    .dropdown-menu li a.is-focused,
    .dropdown-menu li button:not(.disable-hover):hover,
    .dropdown-menu li button:active,
    .dropdown-menu li button:focus,
    .dropdown-menu li button.is-focused,
    .dropdown-menu li .menu-item:not(.disable-hover):hover,
    .dropdown-menu li .menu-item:active,
    .dropdown-menu li .menu-item:focus,
    .dropdown-menu li .menu-item.is-focused,
    .dropdown-menu-nav li a:not(.disable-hover):hover,
    .dropdown-menu-nav li .participants-more .btn-link:not(.disable-hover):hover,
    .participants-more .dropdown-menu-nav li .btn-link:not(.disable-hover):hover,
    .dropdown-menu-nav li .user-list-more .btn-link:not(.disable-hover):hover,
    .user-list-more .dropdown-menu-nav li .btn-link:not(.disable-hover):hover,
    .dropdown-menu-nav li a:active,
    .dropdown-menu-nav li a:focus,
    .dropdown-menu-nav li a.is-focused,
    .dropdown-menu-nav li button:not(.disable-hover):hover,
    .dropdown-menu-nav li button:active,
    .dropdown-menu-nav li button:focus,
    .dropdown-menu-nav li button.is-focused,
    .dropdown-menu-nav li .menu-item:not(.disable-hover):hover,
    .dropdown-menu-nav li .menu-item:active,
    .dropdown-menu-nav li .menu-item:focus,
    .dropdown-menu-nav li .menu-item.is-focused,
    .sidebar-top-level-items > li.is-showing-fly-out .sidebar-sub-level-items a:hover,
    .sidebar-top-level-items > li.is-showing-fly-out .sidebar-sub-level-items .participants-more .btn-link:hover,
    .participants-more .sidebar-top-level-items > li.is-showing-fly-out .sidebar-sub-level-items .btn-link:hover,
    .sidebar-top-level-items > li.is-showing-fly-out .sidebar-sub-level-items .user-list-more .btn-link:hover,
    .user-list-more .sidebar-top-level-items > li.is-showing-fly-out .sidebar-sub-level-items .btn-link:hover,
    .sidebar-top-level-items > li.is-showing-fly-out .sidebar-sub-level-items a:focus,
    .sidebar-sub-level-items > li a:hover,
    .sidebar-sub-level-items > li .participants-more .btn-link:hover,
    .participants-more .sidebar-sub-level-items > li .btn-link:hover,
    .sidebar-sub-level-items > li .user-list-more .btn-link:hover,
    .user-list-more .sidebar-sub-level-items > li .btn-link:hover,
    .sidebar-sub-level-items > li a:focus,
    .sidebar-top-level-items > li.active > a:hover,
    .participants-more .sidebar-top-level-items > li.active > .btn-link:hover,
    .user-list-more .sidebar-top-level-items > li.active > .btn-link:hover,
    .sidebar-top-level-items > li.is-over > a,
    .pagination > li > a:hover,
    .participants-more .pagination > li > .btn-link:hover,
    .user-list-more .pagination > li > .btn-link:hover,
    .pagination > li > a:focus,
    .pagination > li > span:hover,
    .pagination > li > span:focus,
    .multi-file-commit-list-item:hover,
    .multi-file-commit-list-item:focus,
    .ide-file-list .file:hover,
    .ide-file-list .file:focus,
    .btn.btn-primary:hover,
    .ide-sidebar-link:hover,
    .monaco-editor .selected-text,
    .right-sidebar.right-sidebar-collapsed .block:hover,
    .select2-results .select2-highlighted .select2-result-label,
    .group-list-tree .group-row-contents:hover {
        background-color: #404040 !important;
    }
    
    
    .filtered-search-token .name,
    .filtered-search-term .name,
    .filtered-search-token .value-container,
    .filtered-search-term .value-container,
    .select2-search input {
        border: none;
        background-color: #404040;
        color: #eee !important;
    }
    
    .select2-search input {
        box-shadow: 0 0 4px #404040;
        background-clip: border-box;
    }
    
    .sidebar-sub-level-items > li.active a:hover,
    .sidebar-sub-level-items > li.active .participants-more .btn-link:hover,
    .participants-more .sidebar-sub-level-items > li.active .btn-link:hover,
    .sidebar-sub-level-items > li.active .user-list-more .btn-link:hover,
    .user-list-more .sidebar-sub-level-items > li.active .btn-link:hover,
    .sidebar-sub-level-items > li.active a:focus,
    .ide-file-list .file.file-open,
    body.ui_dark .navbar-gitlab .navbar-sub-nav > li.active > a,
    body.ui_dark .navbar-gitlab .navbar-sub-nav > li.dropdown.show > a,
    body.ui_dark .navbar-gitlab .navbar-nav > li.active > a,
    body.ui_dark .navbar-gitlab .navbar-nav > li.dropdown.show > a {
        background-color: #181818 !important;
    }
    
    #cycle-analytics .stage-nav .stage-nav-item:hover:not(.active) {
        background-color: #404040;
    }
    
    #cycle-analytics .stage-nav .stage-nav-item.active {
        background-color: #161616;
    }
    
    body.ui_dark .navbar-gitlab .navbar-sub-nav > li.active > a,
    body.ui_dark .navbar-gitlab .navbar-sub-nav > li.dropdown.open > a,
    body.ui_dark .navbar-gitlab .navbar-nav > li.active > a,
    body.ui_dark .navbar-gitlab .navbar-nav > li.dropdown.open > a,
    .select2-drop {
        background-color: #101010;
        border: none;
    }
    
    .multi-file-commit-form > form,
    .multi-file-commit-form > .commit-form-compact,
    .ide-status-bar,
    .ide-tree-header,
    .ide-mode-tabs,
    .multi-file-commit-panel-header,
    .ide-commit-list-container.is-first,
    .monaco-editor .margin-view-overlays .current-line-margin,
    ul.notes > li .timeline-entry-inner,
    .gitlab-tab-content,
    .event-item,
    .nav-block.activities {
        border-color: #404040;
    }
    
    .dropdown-menu.projects-dropdown-menu,
    .sidebar-sub-level-items.fly-out-list {
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2)
    }
    
    .sidebar-sub-level-items.fly-out-list,
    .dragHandle,
    .ide-right-sidebar .ide-activity-bar,
    .ide-view,
    .gl-responsive-table-row:not(:last-child),
    .select2-drop.select2-drop-above.select2-drop-active,
    .monaco-editor .view-overlays .current-line,
    .md img:not(.emoji) {
        border: none !important;
    }
    
    .project-dropdown-content,
    .dropdown-menu,
    .commit-sha-group .btn,
    .toggle-sidebar-button,
    .close-nav-button,
    .project-stats,
    .project-home-panel,
    .group-home-panel {
        border: none;
    }
    
    .breadcrumbs-container,
    .board-blank-state,
    .board-promotion-state {
        border: none;
        background: inherit;
    }
    
    .info-well,
    .row-content-block,
    .dropdown-menu,
    .dropdown-menu-nav {
        background-color: #1b1b1b !important;
        border: none;
    }
    
    .container-fluid.container-limited {
        background-color: #212121;
        margin-top: 10px !important;
    }
    
    #content-body > nav.container-fluid.container-limited.project-stats {
        background-color: #0f0f0f !important;
        margin-top: 0 !important;
    }
    
    #content-body {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    
    li {
        border: none !important;
    }
    
    span.arrow {
        border-right-color: #181818 !important;
    }
    
    .project-repo-buttons .count-with-arrow .count:hover,
    .group-buttons .count-with-arrow .count:hover,
    .card,
    issue-count-badge-count pull-left has-btn,
    .issue-count-badge-count,
    .monaco-editor,
    .monaco-editor-background,
    .monaco-editor .inputarea.ime-input,
    .monaco-editor .margin,
    .card,
    .card-slim,
    .file-editor .editor-ref,
    .file-editor .nav-links,
    .select2-container .select2-choice,
    .select2-container.select2-drop-above .select2-choice,
    .file-holder .file-content.image_file,
    .file-holder .file-content.video,
    .form-control:focus,
    .common-note-form .md-area.is-focused,
    .search form:focus,
    .search.search-active form,
    .doc-nav > ul {
        background-color: #181818 !important;
        color: #ddd !important;
        border: none !important;
    }
    
    .multi-file-tabs li.active {
        background-color: #111111;
    }
    
    .monaco-editor .cursor {
        background-color: #ddd !important;
        border-color: #ddd;
        color: #000;
    }
    
    .current-line,
    .ace-tm .ace_marker-layer .ace_active-line,
    .ace-tm .ace_gutter-active-line {
        background-color: #222;
        border: none;
    }
    
    
    
    
    
    
    
    /* brighten default color scheme of ace editor */
    .ace-tm .ace_cursor {
        color: #eee;
    }
    
    .ace-tm .ace_heading {
        color: rgb(255, 139, 139);
    }
    
    .ace-tm .ace_string {
        color: rgb(118, 218, 123);
    }
    
    .ace-tm .ace_constant {
        color: rgb(245, 102, 106);
    }
    
    .ace-tm .ace_constant.ace_numeric,
    .ace-tm .ace_storage,
    .ace-tm .ace_keyword {
        color: rgb(180, 180, 255);
    }
    
    .ace-tm .ace_support.ace_function {
        color: rgb(64, 120, 255);
    }
    
    .ace-tm .ace_meta.ace_tag {
        color: rgb(112, 134, 255);
    }
    
    .monaco-editor .line-delete,
    .monaco-editor .char-delete,
    .blob-editor-container .monaco-diff-editor.vs .view-overlays .line-delete {
        background-color: #4d1e25;
    }
    
    .blob-editor-container .monaco-diff-editor.vs .char-delete {
        background-color: #8d1a1a;
    }
    
    .monaco-editor .line-insert,
    .monaco-editor .char-insert,
    .blob-editor-container .monaco-diff-editor.vs .view-overlays .line-insert {
        background-color: #0e3016;
    }
    
    .blob-editor-container .monaco-diff-editor.vs .char-insert {
        background-color: #216b34;
    }
    
    
    
    
    
    
    
    /* web ide color scheme */
    
    /* Changed colors lighter to better fit dark theme */
    .mtk1 {
        color: #ddd;
    }
    
    .mtk5 {
        color: #429cff;
    }
    
    .mtk6 {
        color: #aa0000;
    }
    
    .mtk7 {
        color: #049ac3;
    }
    
    .mtk8 {
        color: #74b074;
    }
    
    .mtk20 {
        color: #edd06b;
    }
    
    .mtk22 {
        color: #4badad;
    }
    
    .project-repo-buttons .count-with-arrow .count,
    .group-buttons .count-with-arrow .count,
    #cycle-analytics .stage-nav .stage-nav-item,
    .content-block > .container-fluid,
    .btn.disabled,
    .btn[disabled],
    fieldset[disabled] .btn,
    .dropdown-toggle[disabled],
    [disabled].dropdown-menu-toggle,
    .btn.disabled:hover,
    .btn[disabled]:hover,
    fieldset[disabled] .btn:hover,
    .dropdown-toggle[disabled]:hover,
    [disabled].dropdown-menu-toggle:hover,
    .btn-close.js-note-target-close.btn-comment,
    .merge-request-tabs-holder,
    .ide-commit-file-count,
    .user-access-role, .build-page .top-bar  {
        background-color: #181818;
        color: #ddd !important;
        border: none;
    }
    
    time,
    div,
    .md p,
    .event-item .event-title,
    .light,
    .landing .inner-content h4,
    .landing .inner-content p,
    #cycle-analytics .empty-stage h4,
    #cycle-analytics .no-access-stage h4,
    .nav-links li.active a .badge {
        color: #ddd;
    }
    
    body.ui-dark .navbar-gitlab .navbar-sub-nav > li.active > a,
    body.ui-dark .navbar-gitlab .navbar-sub-nav > li.dropdown.show > a,
    body.ui-dark .navbar-gitlab .navbar-nav > li.active > a,
    body.ui-dark .navbar-gitlab .navbar-nav > li.dropdown.show > a {
        background-color: transparent;
    }
    
    body.ui-dark .navbar-gitlab .navbar-sub-nav > li > a:hover,
    body.ui-dark .navbar-gitlab .participants-more .navbar-sub-nav > li > .btn-link:hover,
    .participants-more body.ui-dark .navbar-gitlab .navbar-sub-nav > li > .btn-link:hover,
    body.ui-dark .navbar-gitlab .user-list-more .navbar-sub-nav > li > .btn-link:hover,
    .user-list-more body.ui-dark .navbar-gitlab .navbar-sub-nav > li > .btn-link:hover,
    body.ui-dark .navbar-gitlab .navbar-sub-nav > li > a:focus,
    body.ui-dark .navbar-gitlab .navbar-nav > li > a:hover,
    body.ui-dark .navbar-gitlab .participants-more .navbar-nav > li > .btn-link:hover,
    .participants-more body.ui-dark .navbar-gitlab .navbar-nav > li > .btn-link:hover,
    body.ui-dark .navbar-gitlab .user-list-more .navbar-nav > li > .btn-link:hover,
    .user-list-more body.ui-dark .navbar-gitlab .navbar-nav > li > .btn-link:hover,
    body.ui-dark .navbar-gitlab .navbar-nav > li > a:focus {
        background-color: rgb(223, 223, 223, 0.2);
    }
    
    .commit {
        background-color: #181818;
        padding-left: 5px !important;
        padding-right: 5px !important;
        margin-bottom: 5px !important;
    }
    
    .filtered-search-box {
        border: none;
        background: none;
    }
    
    .files-slider.table {
        margin-bottom: 2rem;
    }
    
    .tree-holder .tree-table tr.selected td,
    .limit-container-width .merge-request-tabs-container .inner-page-scroll-tabs,
    .manage-labels-list > li:not(.empty-message):not(.is-not-draggable),
    .dragHandle {
        background: inherit;
    }
    
    .multi-file-tabs {
        box-shadow: none;
    }
    
    .content-body {
        margin-left: 5px !important;
    }
    
    .form-control,
    .search form,
    .tokens-container.list-unstyled,
    .dropdown-menu-toggle.filtered-search-history-dropdown-toggle-button,
    .clear-search,
    .filtered-search-term .name,
    .markdown-area {
        background-color: rgb(89, 89, 89) !important;
        border: none !important;
        color: rgba(223, 223, 223, 0.8) !important;
    }
    
    .projects-list > .project-row {
        background-color: #1b1b1b;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .commit-sha-group .label-monospace {
        background-color: #1b1b1b;
        color: #eee;
        border: none;
    }
    
    .body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    .wiki h1,
    .wiki h2,
    .wiki p,
    .wiki,
    .detail-page-description .title,
    span,
    ul.notes > li .note-body .note-text p {
        color: #eeeeee;
    }
    
    a {
        color: #1b69b6;
    }
    
    .commit button,
    .tree-holder .tree-item .tree-item-file-name i,
    .tree-holder .tree-item .tree-item-file-name a,
    ul.content-list li,
    .file-holder .file-title a:not(.btn),
    .commit a,
    .commit button,
    .generic_commit_status a,
    .generic_commit_status button,
    .breadcrumb.repo-breadcrumb a,
    .breadcrumbs-sub-title a,
    .dropdown-menu li a,
    .dropdown-menu li button,
    .dropdown-menu li .menu-item,
    .dropdown-menu-nav li a,
    .dropdown-menu-nav li button,
    .dropdown-menu-nav li .menu-item,
    body.ui-dark .navbar-gitlab .navbar-sub-nav > li.active > a,
    body.ui-dark .navbar-gitlab .navbar-sub-nav > li.dropdown.show > a,
    body.ui-dark .navbar-gitlab .navbar-nav > li.active > a,
    body.ui-dark .navbar-gitlab .navbar-nav > li.dropdown.show > a,
    .nav-sidebar li a,
    body.ui-dark .nav-links li.active a,
    body.ui-dark .nav-links li a.active,
    ul.content-list li a {
        color: #ddd !important;
    }
    
    td,
    .common-note-form .md-area,
    .nav-links,
    .comment-toolbar {
        border: none !important;
    }
    
    .file-title-flex-parent,
    .row-content-block.white,
    .blank-state,
    .file-holder .file-title,
    .commit-header,
    .toggle-sidebar-button,
    .close-nav-button,
    .sub-header-block,
    .row-content-block.content-component-block,
    .project-network .controls,
    .right-sidebar,
    .board-inner,
    .multi-file-commit-panel .multi-file-commit-panel-inner-scroll,
    .multi-file-commit-form,
    .ide-status-bar,
    .multi-file-tabs,
    .multi-file-tabs li,
    .context-header.ide-context-header,
    .ide-right-sidebar .multi-file-commit-panel-inner,
    .popover,
    .multi-file-commit-panel .multi-file-commit-panel-inner-content,
    .ide-commit-editor-header,
    #CybotCookiebotDialog,
    #CybotCookiebotDialogDetail,
    .main-topics li,
    .main-topics li a p,
    .main-topics li a:visited p,
    .main {
        color: #eeeeee;
        background-color: #212121;
        border: none;
    }
    
    .alert-info {
        background-color: #293d57;
        border: none;
    }
    
    blockquote {
        background-color: #2f363b;
    }
    
    #CybotCookiebotDialog a,
    .CybotCookiebotDialogDetailBodyContentCookieTypeTable tbody td {
        color: #eee !important;
    }
    
    #CybotCookiebotDialog a:hover {
        background-color: #404040 !important;
    }
    
    #CybotCookiebotDialogDetailFooter {
        visibility: hidden;
    }
    
    .CybotCookiebotDialogDetailBodyContentCookieTypeTable thead td,
    .header,
    .header p,
    .header .nav > li > a {
        background-color: #212121 !important;
        color: #eee !important;
        border: none;
    }
    
    .CybotCookiebotDialogDetailBodyContentCookieContainerTypes,
    .CybotCookiebotDialogDetailBodyContentTabsItem,
    #CybotCookiebotDialogBodyLevelDetailsWrapper,
    .header input,
    .algolia-autocomplete .ds-dropdown-menu::before,
    .algolia-autocomplete .ds-dropdown-menu,
    .ds-dataset,
    .algolia-autocomplete .ds-dropdown-menu [class^="ds-dataset-"] {
        background-color: #333 !important;
        color: #eee !important;
        border: none;
    }
    
    .algolia-autocomplete div {
        color: #eee !important;
    }
    
    .algolia-autocomplete div {
        background-color: #333 !important;
    }
    
    .algolia-autocomplete div > div,
    .milestones {
        background-color: transparent !important;
    }
    
    .algolia-autocomplete div > div :hover {
        background-color: #404040 !important;
    }
    
    .algolia-autocomplete div:hover {
        background-color: transparent !important;
    }
    
    table,
    table td,
    table th {
        border-color: rgb(256, 256, 256, 0.15);
    }
    
    .file-holder,
    .dropdown-menu-toggle,
    .dropdown-toggle,
    .top-area,
    .scrolling-tabs-container,
    .project-network,
    .multi-file-edit-pane {
        border: none;
    }
    
    tr,
    table.table tr th,
    .file-holder table tr th,
    .wiki table tr th,
    .md table tr th,
    ul.notes > li .note-body .note-text table tr th,
    button,
    .btn,
    .wiki,
    .pagination > li > a,
    .pagination > li > span,
    .ide-sidebar-link,
    .ide-commit-message-field,
    .input-group-text,
    .input-group .input-group-prepend,
    .input-group .input-group-append,
    .gitlab-tabs,
    #CybotCookiebotDialogDetailBodyContent,
    .CybotCookiebotDialogDetailBodyContentCookieContainerTypesSelected,
    .CybotCookiebotDialogDetailBodyContentTabsItemSelected {
        background-color: #181818 !important;
        border: none !important;
        color: #eee !important;
    }
    
    .branch-item {
        margin-bottom: 10px !important;
        background-color: #181818 !important;
    }
    
    .count.count-behind {
        color: #fcc !important;
    }
    
    .count.count-ahead {
        color: #cfc !important;
    }
    
    .container-fluid.container-limited.limit-container-width > .project-show-files > div > div > .table-holder > table,
    .container-fluid.container-limited.limit-container-width > .project-show-files > div > div > .table-holder > th,
    .container-fluid.container-limited.limit-container-width > .project-show-files > div > div > .table-holder > tr,
    .container-fluid.container-limited.limit-container-width > .project-show-files > div > div > .table-holder > table,
    .merge-request.merged,
    .issue.merged,
    .mr-state-widget.prepend-top-default {
        background-color: #181818 !important;
    }
    
    .tree-holder .tree-table tr:hover:not(.tree-truncated-warning) td,
    pre,
    .diff-file .file-title:hover,
    .diff-file .file-title-flex-parent:hover,
    .nav-tabs .nav-link.active,
    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link:focus {
        background-color: #111111 !important;
        border-color: #111111 !important;
    }
    
    .info-well .well-segment:not(:last-of-type) {
        border-bottom: 1px solid #333;
    }
    
    .commit-box {
        border-top: 1px solid #333;
    }
    
    /* non-disabled hover buttons */
    .nav-tabs .nav-link:hover, .right-sidebar.build-sidebar .builds-container .build-job:hover,
    .toggle-sidebar-button:hover,
    .btn:hover,
    .btn:focus,
    .btn-group > .btn:hover,
    .pipeline-graph .build a.build-content:hover,
    .pipeline-graph .build .participants-more .build-content.btn-link:hover,
    .participants-more .pipeline-graph .build .build-content.btn-link:hover,
    .participants-more .pipeline-graph .build .ci-job-dropdown-container:hover .btn-link.build-content,
    .pipeline-graph .build .ci-job-dropdown-container:hover .participants-more .btn-link.build-content,
    .pipeline-graph .build .user-list-more .build-content.btn-link:hover,
    .user-list-more .pipeline-graph .build .build-content.btn-link:hover,
    .user-list-more .pipeline-graph .build .ci-job-dropdown-container:hover .btn-link.build-content,
    .pipeline-graph .build .ci-job-dropdown-container:hover .user-list-more .btn-link.build-content,
    .pipeline-graph .build .ci-job-dropdown-container:hover a.build-content,
    .pipeline-graph .build button.build-content:hover,
    .pipeline-graph .build .ci-job-dropdown-container:hover button.build-content {
        border-color: #404040;
        background-color: #404040;
    }
    
    .btn.btn-success, .btn.comment-btn, .btn.btn-register {
        border: 1px solid !important;
        color: green !important;
        border-color: green !important;
    }
    
    .btn.btn-success[disabled], .btn.comment-btn[disabled], .btn.btn-register[disabled] {
        border: 1px solid !important;
        border-color: #111111 !important;
        background-color: #111111 !important;
        color: #aaa !important;
    }
    
    .btn.btn-success:hover, .btn.comment-btn:hover, .btn.btn-register:hover {
        background-color: #105010 !important;
    }
    
    .ci-status.ci-info:not(span):hover, .ci-status.ci-running:not(span):hover {
        background-color: #101060;
    }
    
    .ci-status.ci-failed:not(span):hover {
        background-color: #501010;
    }
    
    .issue-count-badge {
        border: none;
    }
    
    
    pre {
        color: #eee;
    }
    
    .pagination > .disabled > span,
    .pagination > .disabled > span:hover,
    .pagination > .disabled > span:focus,
    .pagination > .disabled > a,
    .pagination > .disabled > a:hover,
    .participants-more .pagination > .disabled > .btn-link:hover,
    .user-list-more .pagination > .disabled > .btn-link:hover,
    .pagination > .disabled > a:focus,
    .btn.disabled,
    .btn[disabled],
    fieldset[disabled] .btn,
    .dropdown-toggle[disabled],
    [disabled].dropdown-menu-toggle,
    .btn.disabled:hover,
    .btn[disabled]:hover,
    fieldset[disabled] .btn:hover,
    .dropdown-toggle[disabled]:hover,
    [disabled].dropdown-menu-toggle:hover {
        background-color: #111111 !important;
    }
    
    .sidebar-sub-level-items,
    .fly-out-list,
    .nav-sidebar,
    .nav-sidebar-inner-scroll,
    .navbar,
    .panel,
    .panel-slim,
    .panel-heading,
    .merge-request.closed,
    .issue.closed,
    .diff-file .diff-content,
    .monaco-editor-hover {
        background-color: #212121 !important;
        color: #eee !important;
        border: none !important;
    }
    
    ul,
    .right-sidebar .title {
        color: #eee !important;
        border: none;
    }
    
    .right-sidebar .block,
    .content-block,
    .detail-page-header,
    .pagination > li > a,
    .pagination > li > span,
    .mr-state-widget,
    .mr-state-widget .mr-widget-heading,
    .mr-state-widget .mr-widget-section,
    .mr-state-widget .mr-widget-footer {
        border: none;
    }
    
    .btn.disabled,
    .info-well .label.label-gray,
    .info-well .shortcut-mappings .label-gray.key,
    .shortcut-mappings .info-well .label-gray.key {
        background-color: #111111 !important;
    }
    
    .toggle-sidebar-button {
        background-color: #212121;
        border: none;
    }
    
    btn-remove {
        border: 1px #c03413 !important;
    }
    
    .cover-block {
        background: #212121;
    }
    
    body.ui_dark .navbar-gitlab .nav > li.active > a:hover svg,
    body.ui_dark .navbar-gitlab .participants-more .nav > li.active > .btn-link:hover svg,
    .participants-more body.ui_dark .navbar-gitlab .nav > li.active > .btn-link:hover svg,
    body.ui_dark .navbar-gitlab .user-list-more .nav > li.active > .btn-link:hover svg,
    .user-list-more body.ui_dark .navbar-gitlab .nav > li.active > .btn-link:hover svg,
    body.ui_dark .navbar-gitlab .nav > li.dropdown.show > a:hover svg,
    body.ui_dark .navbar-gitlab .participants-more .nav > li.dropdown.show > .btn-link:hover svg,
    .participants-more body.ui_dark .navbar-gitlab .nav > li.dropdown.show > .btn-link:hover svg,
    body.ui_dark .navbar-gitlab .user-list-more .nav > li.dropdown.show > .btn-link:hover svg,
    .user-list-more body.ui_dark .navbar-gitlab .nav > li.dropdown.show > .btn-link:hover svg {
        fill: #fff;
    }
    
    .search.search-active form .search-input,
    .visibility-level-setting .form-check .option-title {
        color: #fff !important;
    }
    
    .sidebar-sub-level-items {
        background-color: #212121;
        border: none;
    }
    
    .blob-editor-container .monaco-diff-editor.vs .diffOverview,
    .form-actions,
    .btn-blank.dont-change-state.has-tooltip.issuable-todo-btn.js-issuable-todo.sidebar-collapsed-icon,
    .file-editor .ace_gutter-cell,
    .ace-tm .ace_gutter,
    .commit-message-container {
        background-color: transparent !important;
        border: none;
    }
    
    .issuable-todo-inner.js-issuable-todo-inner {
        color: #707070;
    }
    
    .monaco-scrollable-element > .scrollbar > .slider.active {
        background-color: rgba(255, 255, 255, 0.3);
    }
    
    .cgray,
    .commit.inline-commit .committed_ago,
    .generic_commit_status.inline-commit .committed_ago,
    .blob-editor-container .monaco-diff-editor.vs .line-numbers,
    .visibility-level-setting .form-check .option-description,
    .visibility-level-setting .form-check .option-disabled-reason,
    .form-control::placeholder,
    .search form::placeholder,
    
    .nav-links li.active a .badge.badge-pill,
    .nav-links li.active a .shortcut-mappings .key,
    .shortcut-mappings .nav-links li.active a .key,
    .nav-links li a.active .badge.badge-pill,
    .nav-links li a.active .shortcut-mappings .key,
    .shortcut-mappings .nav-links li a.active .key,
    
    .nav-links li a:hover .badge.badge-pill,
    .nav-links li .participants-more .btn-link:hover .badge.badge-pill,
    .participants-more .nav-links li .btn-link:hover .badge.badge-pill,
    .nav-links li .user-list-more .btn-link:hover .badge.badge-pill,
    .user-list-more .nav-links li .btn-link:hover .badge.badge-pill,
    .nav-links li a:hover .shortcut-mappings .key,
    .shortcut-mappings .nav-links li a:hover .key,
    .nav-links li .participants-more .btn-link:hover .shortcut-mappings .key,
    .shortcut-mappings .nav-links li .participants-more .btn-link:hover .key,
    .participants-more .nav-links li .btn-link:hover .shortcut-mappings .key,
    .shortcut-mappings .participants-more .nav-links li .btn-link:hover .key,
    .nav-links li .user-list-more .btn-link:hover .shortcut-mappings .key,
    .shortcut-mappings .nav-links li .user-list-more .btn-link:hover .key,
    .user-list-more .nav-links li .btn-link:hover .shortcut-mappings .key,
    .shortcut-mappings .user-list-more .nav-links li .btn-link:hover .key,
    .nav-links li a:active .badge.badge-pill,
    .nav-links li a:active .shortcut-mappings .key,
    .shortcut-mappings .nav-links li a:active .key,
    .nav-links li a:focus .badge.badge-pill,
    .nav-links li a:focus .shortcut-mappings .key,
    .shortcut-mappings .nav-links li a:focus .key,
    .right-sidebar.right-sidebar-collapsed .sidebar-collapsed-icon:hover:not(.disabled),
    .right-sidebar.right-sidebar-collapsed .sidebar-collapsed-icon:hover .todo-undone {
        color: #aaa;
    }
    
    .right-sidebar.right-sidebar-collapsed .sidebar-collapsed-icon:hover:not(.disabled) svg,
    .right-sidebar.right-sidebar-collapsed .sidebar-collapsed-icon:hover .todo-undone svg {
        fill: #aaa;
    }
    
    svg > path {
        fill: #eee;
    }
    
    code {
        color: #afa;
        background-color: #111;
    }
    
    .cover-block .cover-title,
    .cover-block .cover-desc,
    .mr-state-widget .label-branch,
    .nav-links li a:hover .badge,
    .nav-links li .participants-more .btn-link:hover .badge,
    .participants-more .nav-links li .btn-link:hover .badge,
    .nav-links li .user-list-more .btn-link:hover .badge,
    .user-list-more .nav-links li .btn-link:hover .badge,
    .nav-links li a:active .badge,
    .nav-links li a:focus .badge,
    .commit-box .commit-title,
    .info-well .icon-container.commit-icon svg path,
    .nothing-here-block,
    svg > path,
    .ace-tm .ace_gutter,
    .dropdown-input-field,
    .default-dropdown-input,
    .dropdown-toggle-text.is-default,
    .dropdown-menu-inner-title,
    .pipelines .ci-table .pipeline-id,
    .md,
    li,
    .snippet-title,
    .wiki-page-header .wiki-last-edit-by strong,
    .note-textarea,
    .nav-links li a:hover,
    .nav-links li .participants-more .btn-link:hover,
    .participants-more .nav-links li .btn-link:hover,
    .nav-links li .user-list-more .btn-link:hover,
    .user-list-more .nav-links li .btn-link:hover,
    .nav-links li a:active,
    .nav-links li a:focus,
    #CybotCookiebotDialogBodyContentTitle,
    .landing .topics-container h4,
    .board-card-title a,
    .event-item a {
        color: #eee;
    }
    
    .md h1,
    .md h2 {
    	color: #fff;
    	border-color: #666;
    }
}
